<table>

<tr>

<% @fields.each do |column| %>
<th><a href="?order_by=<%= column[0] %>&sort_order=<% if params[:order_by].include? column[0] %><%= (@status = (params[:sort_order] == "asc") ? "desc" : "asc" ) %><% else %><%= "asc" %><% end %>"><div class="<% if params[:order_by].include? column[0] %><%= (@status = (params[:sort_order] == "asc") ? "order_desc" : "order_asc" ) %><% else %><%= "order" %><% end %>"><%= column[0].humanize %></div></a></th>
<% end %>
<th>&nbsp;</th>
</tr>

<% @items.each do |item| %>
	<tr class="<%= cycle('even', 'odd') %>" id="item_<%= item.id %>">
	<% @fields.each do |column| %>
		<% case column[1]
			when "string" -%>
			<td><%= link_to item.send(column[0]), :action => "edit", :id => item.id %></td>
		<% when "boolean" -%>
			<td width="20px" align="center"><%= image_tag(status = item.send(column[0])? "typus_status_true.gif" : "typus_status_false.gif") %></td>
		<% when "datetime" -%>
			<td width="80px"><%= fmt_date(item.send(column[0])) %></td>
		<% when "collection" -%>
			<td><%= item.send(column[0]).name if item.send(column[0]) %></td>
	<% end -%>
<% end %>
		<td width="10px"><%= link_to image_tag("typus_trash.gif"), { :action => 'destroy', :id => item.id }, :confirm => "Remove this entry?" %></td>
	</tr>
<% end %>

</table>