<% content_for :sidebar do %>
	<%= typus_block("edit_sidebar") || actions %>
<% end %>

<h2><%= link_to "#{params[:model].titleize}", :action => "index", :model => params[:model], :id => nil %> &rsaquo; Edit</h2>

<%= typus_block("edit_top") %>

<% form_for :item, :url  => { :action => "update", :id => @item.id }, :html => { :multipart => true } do %>
  <%= typus_form %>
  <p><%= submit_tag "Update #{params[:model].titleize.singularize}" %></p>
<% end %>

<%= typus_form_externals %>

<%= typus_block("edit_bottom") %>