<% content_for :sidebar do %>
  <%= actions %>
  <%= search %>
  <%= filters %>
<% end %>

<h2><%= params[:model].titleize %></h2>

<div id="list">

  <!-- Query -->
  <% if params[:query] %>
    <div class="box" id="empty">
      <p><%= process_query(request.env['QUERY_STRING']) %>. <%= link_to "Remove filter?" %></p>
    </div>
  <% end %>
  <!-- /Query -->

  <!-- Listing & Feedback -->
  <% if @items.size > 0 -%>
    <%= typus_table %>
    <%= will_paginate @items %>
  <% else %>
    <div class="box" id="empty">
      <p>No <strong><%= params[:model].titleize %></strong> under this filter.</p>
    </div>
  <% end %>
  <!-- /Listing & Feedback -->

  <!-- Shown when there are no items -->
  <% if @model.count == 0 %>
    <p><%= link_to "Add the first item", :action => "new" %></p>
  <% end %>
  <!-- /Shown when there are no items -->

</div>

<script type="text/javascript">new Effect.Highlight('empty');</script>
