<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <%= head %>
</head>

<body>

<!-- header -->
<div id="header">

  <div class="left">
    <%= header %>
    <%= breadcrumbs %>
  </div>

  <div class="right">
    <%= login_info %>
  </div>

</div>
<!-- /header -->

<!-- wrapper -->
<div id="wrapper">

  <div id="sidebar">
    <%= yield :sidebar %>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div style="clear: both;"></div>

</div>
<!-- /wrapper -->

<div style="clear: both;"></div>

<!-- footer -->
<div id="footer">
  <%= footer %>
</div>
<!-- /footer -->

</body>

</html>
