<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title><%= Typus::Configuration.options[:app_name] %></title>
  <%= stylesheet_link_tag "typus", :media => "screen" %>
  <%= javascript_include_tag :defaults %>
  <style type="text/css">
    div#dialog { background: <%= Typus::Configuration.options[:color] %>; }
  </style>
</head>

<body onload="$('user_email').focus()" id="login">

  <div id="dialog">
    <h1><%= link_to Typus::Configuration.options[:app_name], :action => "login" %></h1>
    <%= display_flash_message %>
    <%= yield %>
    <%= signature %>
  </div>

</body>

</html>