<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title><%= Typus::Configuration.options[:app_name] %></title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag "typus_login", :media => "screen" %>
</head>

<body onload="$('user_email').focus()">

	<div id="dialog">

		<h1><%= link_to Typus::Configuration.options[:app_name], :action => "login" %></h1>
		<%= "<div id=\"notice\">" + flash[:notice] + "</div>" if flash[:notice] %>
		<%= "<div id=\"notice-error\">" + flash[:error] + "</div>" if flash[:error] %>
		<%= yield %>

	</div>

	<div id="signature"><%= Typus::Configuration.options[:signature] %> &#183; <%= Typus::Configuration.options[:version] %></div>

</body>

</html>